<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5d44695dbc.js" crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
    <link rel="stylesheet" href="/assets/styles.css">

</head>

<body>
    <h1>To-Do List</h1>
    <div id="to-do">
        <form>
            <input type="text" name="new item" placeholder="Add New Item..." required />
            <button type="submit">Add Item</button>
        </form>        
        <ul>
            <% todo.forEach(function(todo){ %>
            <li>
                <div class="">
                <p class="item-text"><%= todo.item %> </p>
                <a href="#" id="deleteIcon" ><span class="deleteIconWrap" onClick="handleClick('<%= todo.item %>')"><i class="far fa-trash-alt"></i></span></a>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
</body>

</html>


